.window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #eceff4;
	margin: 3% 0 4% 0;
	font-size: 90px;
}

/* Adjust header font size and margin for smaller screens */
@media (max-width: 768px) {
	.header {
		font-size: 50px;
		margin: 5% 0;
	}
}

@media (max-width: 480px) {
	.header {
		font-size: 35px;
		margin: 8% 0;
	}
}

.rootPage,
.linearPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
