@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* background-color:  #2E3440; */
  font-family: Courier, 'Courier New', monospace;
  color: #ECEFF4;
  font-size: 20px;
}

/* for background */
body { 
  background-image: url("../blackBoard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@layer utilities {
  .textInputWrapper:before {
    @apply absolute left-0 right-0 bottom-[-1px] z-10 pointer-events-none border-b-[1px] border-black/60;
    content: "";
    transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textInputWrapper:after {
    @apply absolute left-0 right-0 bottom-[-1px] z-10 pointer-events-none border-b-[2px] scale-x-0;
    border-bottom-color: #81A1C1 ; /* Assigning accent color directly */
    content: "";
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .textInputWrapper:focus-within:before {
    border-bottom-color: #81A1C1 ; /* Assigning accent color directly */
  }
  
  .textInputWrapper:focus-within:after {
    @apply scale-x-100;
    border-bottom-color: #81A1C1 ; /* Assigning accent color directly */
  }

  .textInput::placeholder {
    @apply transition-opacity duration-[250ms] opacity-100 select-none;
  }

  .textInputWrapper:focus-within .textInput::placeholder {
    @apply opacity-0;
  }
}
