.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  color: #ECEFF4;
  margin: 5% 0 15px 0;
  font-size: 90px;
  align-items: center;
}