.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ECEFF4;
  margin: 3% 0 4% 0;
  font-size: 90px;
}

.rootPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}